*{
	margin: auto;
}

html{
	height:100%
}

header{
	background-color: #ff3131;
}

.banner{
	padding-top: 7px;
	width: 500px;
	background-color: #ff3131;
}

.magicwheel{
	background-color: #ff3131;
	color: white;
	font-size: 36px;
}

footer{
	background-color: #ff3131;
}

.dwe{
	width:450px;
	height:150px;
}

.magicporn{
	width:320px;
	height:320px;
}


